name: Java CI with SonarCloud

on:
  push:
    branches:
  pull_request:
    branches:
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  build-and-analyze:
    name: Build and Analyze
    runs-on: ubuntu-latest


    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # Required for SonarCloud PR analysis

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: gradle

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build and run tests
        run: ./gradlew clean build
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}